$colorRed:red;

.bulletinboard-container{
    border:10px solid rgb(233, 106, 22);
    border-radius: 30px;
    padding: 10px;
    position: relative;
    height:85vh;
    background-color: white;
}

.billboard-imagetext{
    position: absolute;
    right:20px;
    top:20px;
}
