$colorRed:red;

.bulletinboard-container{
    border:10px solid rgb(233, 106, 22);
    border-radius: 30px;
    padding: 10px;
    position: relative;
    height:85vh;
    background-color: white;
    box-shadow: inset 0px 0px 5px rgba(0,0,0, 0.6)
}

.billboard-imagetext{
    position: absolute;
    right:20px;
    top:20px;
}
