@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Archivo+Black&display=swap');
$postSize:400px;

.post-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  width: $postSize;
  height: $postSize;
  margin: 20px;
  padding: 5px 10px;
  box-sizing: border-box;
  box-shadow: 5px 5px 3px rgba(139, 139, 139, 0.4);
  z-index:1;

  &.post-moving{
    z-index:4
  }

  .post-titleheader-content {
    font-size: 90%;
    font-family: 'Architects Daughter', cursive;
    // background-color: orange;
    max-height:$postSize*0.3;
  }

  .post-main-content {
    background-color: inherit;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.1em;
    // background-color: pink;
    max-height:$postSize*0.6;
  }

  .post-footer-content {
    display: flex;
    flex-direction: row-reverse;
    justify-self: flex-end;
    margin-top:auto;
    margin-bottom:5px;
    // background-color: orange;
    .like-button {
      border: none;
      background-image: url("../../img/like-icon.svg");
      background-size: 30px;
      background-color: inherit;
      background-repeat: no-repeat;
      cursor: pointer;
      width: 30px;
      height: 30px;
      transform: rotate(0deg);
      transition: transform 0.2s;
      &:hover{
        transform: rotate(10deg);
      }
    }
  }

  
  .react-like-text {
      color: green;
      transform: rotate(-2deg);
      font-size: 120%;
      font-family: 'Architects Daughter', cursive;
      font-weight: bold;
    }
}
.light-green{
  background-color: #90ee90;
}
.light-blue{
  background-color:#90e9ee;
}
.light-pink{
  background-color: #d390ee;
}