.post-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width:300px;
    min-height:300px;
    background-color: lightgreen;
    margin:20px;
    padding:5px;
    box-sizing: border-box;

    .post-titleheader-content{
        background: orange;
    }

    .post-main-content{
        background-color: brown;
    }

    .post-footer-content{
        display: flex;
        flex-direction: row-reverse;
        .like-button{
            border: none;
        }
    }
}