.post-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 320px;
  min-height: 320px;
  max-height: 320px;
  background-color: #90ee90;
  margin: 20px;
  padding: 5px;
  box-sizing: border-box;

  .post-titleheader-content {
    font-family: 'Courier New', Courier, monospace;
    font-size: 90%;
  }

  .post-main-content {
    background-color: inherit;
  }

  .post-footer-content {
    display: flex;
    flex-direction: row-reverse;
    justify-self: flex-end;
    margin-top:auto;
    margin-bottom:5px;
    .like-button {
      border: none;
      background-image: url("../../img/like-icon.svg");
      background-size: 30px;
      background-color: inherit;
      background-repeat: no-repeat;
      cursor: pointer;
      width: 30px;
      height: 30px;
    }
  }

  .question-button-list {
    margin: 0;
    padding: 0;
    .question-listitem {
      list-style: none;
      margin: 15px 5px;
      .answer-style {
        margin:0px;
        width: 100%;
        text-align: left;
        font-size: 1.1em;
        cursor: default;
        font-family: Arial, Helvetica, sans-serif;
      }
      .question-button {
        border: none;
        background-color: inherit;
        cursor: pointer;
        padding:0px;
        &:hover:enabled {
          color: rgb(172, 172, 172);
        }
      }
      .answered-paragraph{
        color: rgb(32, 32, 32);
      }
        & .right-answer {
          color: green;
          text-decoration: underline;
        }
        & .wrong-answer {
          color: red;
          text-decoration:line-through;
        }
    }
  }

  .react-like-text {
    color: green;
    transform: rotate(-2deg);
    font-size: 120%;
  }
}
